@media (max-width: 1550px){
    header .amazon{
        padding-left: 50px;
    }
    header nav ul{
        margin-left: -50px;
    }
    header nav ul li{
        margin-left: 50px;
    }
    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 700px;
    }
    .wifi{
        position: absolute;
        top: 50px;
        }
        main h1{
            text-align: center;
            padding-top: 100px;
            line-height: 150px;
        }
        .texnology{
            min-height: 100vh;
        }
        .texno{
            width: 80%;
            margin: 0 auto;
            padding-top: 590px;
        }
        .btn{
            width: 80%;
            margin: 0 auto;
        }
        .stting-right h2{
            width: 80%;
            margin-top: 30px;
        }
      
        
}


@media (max-width: 1410px){
    .stting-left img{
        width: 110%;
    }
    .stting-right h2{
        width: 90%;
        margin-top: 30px;
    }
    .cop-item i {
        margin-top: 30px;
    }
 
}

@media (max-width: 1280px){

    .stting-up{
        margin-top: 60px;
       flex-wrap: wrap;
      
      }
      .stting-left img{
        width: 90%;
        margin: auto;
        margin-left: 5%;
        margin-bottom: 30px;
    }
   
}

@media (max-width: 1180px){
    .blue-icons{
            
        width: 95%;
        margin: 0 auto;
        margin-top: 80px;
    
    }
    .stting-right p{
        font-size: 18px;
        line-height: 25px;
        color: #646565;
        margin-left: 30px;
        margin-top: 20px;
        width: 65%;
    }
    
    
}


@media (max-width: 1100px){
    header .amazon{
        padding-left: 20px;
    }
    header nav ul{
        margin-left: -20px;
     
    }
    header nav ul li{
        margin-left: 20px;
    }
    main img{

        width: 100%;
        margin: 0 auto;

    }
    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 500px;
    }
    .wifi{
        position: absolute;
        top: 50px;
        }
        main h1{
            text-align: center;
            padding-top: 50px;
            line-height: 150px;
        }
        footer{
            height: 70px;
        }
        .more{
            padding-top: 80px;
        }
        .more h1{
            padding-top: 60px;
            width: 80%;
            margin: 0 auto;
            line-height: 60px;
            font-size: 50px;
        }
        .more  p{
            width: 85%;
        }
        .texnology{
            min-height: 110vh;
        }

        .texno{
            width: 90%;
            margin: 0 auto;
            padding-top: 570px;
        }
        .btn{
            width: 90%;
            margin: 0 auto;
        }
        .journal{
            width: 100%;
            height: 430px;
        }
        .journal h1{
            width: 80%;
            margin: 0 auto;
            padding-top: 100px;
            font-size: 40px;
        }
        .blue-icon{
            width: 30%;
        }
        .foot-product {
            flex-wrap: wrap;
        }
        .foot-conect{
            margin-top: 70px;
        }
        .foot-product ul{
            margin-left: 45%;
        }
       
        
 
}





@media (max-width: 910px){ 

    header .amazon{
        padding-left: 40px;
    }
    header nav ul{
        display:block;
        margin-top: -43px;
        position: absolute;
        top: 123px;
        right: 0;
        padding: 20px;
        text-align: center;
        background-color:rgba(0, 139, 139, 0.712);
        width: 100%;
        flex-direction: column;
        transform: translateX(-100%);
        transition: 0.7s ease;
    }

    .active{
        display: block;
        transform: translateX(0);
    }
    header nav ul a{
        color:white;
    }
    header nav ul li{
        margin-left: 20px;
        margin-top: 20px;
        
    }
        header .fa-bars{
            display: block;
            margin-right: -20%;
        }
       
    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 400px;
    }
    footer{
        height: 70px;
    }
    .more h1{
        padding-top: 60px;
        width: 80%;
        margin: 0 auto;
        line-height: 60px;
        font-size: 50px;
    }
    .more  p{
        width: 80%;
    }
    .more{
        padding-top: 50px;
    }
    .texno{
        width: 98%;
        margin: 0 auto;
        padding-top: 570px;
    }
    .btn{
        width: 98%;
        margin: 0 auto;
    }
    .bt2{
        margin-left: 18%;
    }
    .find-item img{
        margin-top: 60px;
        width: 50%;
    }
    .stting-right{
        width: 100%;
        margin-left: 50px;
    }
    .stting-right ul{
        margin-left: 10px;
    }
    .stay h1{
        width: 75%;
        margin: auto;
    }
    .foot-product ul{
        margin-left: 25%;
    }

 }




@media (max-width: 780px){

    header .amazon{
        padding-left: 40px;
    }
    header nav ul{
        display:block;
        margin-top: -43px;
        position: absolute;
        top: 123px;
        right: 0;
        padding: 20px;
        text-align: center;
        background-color:rgba(0, 139, 139, 0.712);
        width: 100%;
        flex-direction: column;
        transform: translateX(-100%);
        transition: 0.7s ease;
    }
    header nav ul a{
        color:white;
    }
    header nav ul li{
        margin-left: 20px;
        margin-top: 20px;
        
    }
    
    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 400px;
    }
    footer{
        height: 60px;
    }
    .more{
        padding-top: 50px;
    }
    .more h1{
        padding-top: 60px;
        width: 90%;
        margin: 0 auto;
        line-height: 50px;
        font-size: 40px;
    }
    .more  p{
        width: 90%;
    }
    .more .find{
        margin-top: 50px;
    }
    .texnology{
        min-height: 125vh;
        background-image: url(./image-style/Rectangle\ \(3\).png);
        background-repeat: no-repeat;
        background-position:left;
        width:100%;
        margin: 0 auto;
    }
    .texno{
        width: 98%;
        margin: 0 auto;
        padding-top: 350px;
        flex-direction: column;
    }
    .texno-item{
        padding-left: 50px;
    }
    .tex-item{
        padding-top: 30px;
    }
    .btn{
        width: 98%;
        margin: 0 auto;
    
    }
    .bt2{
        margin-left: 18%;
    }
    .unlock-item{
        padding-top: 100px;
      }
      .unlock-text button{
       margin-top: 60px;
    }
    .carusel-kub{
        padding: 60px 0 20px 0;
    }
    .unlock{
        width: 100%;
        min-height: 80vh;
        background-image:url(./image-style/Rectangle@2x.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: bottom;
    }
    .give-home h1{
        padding-top: 60px;
        width: 90%;
        margin: 0 auto;
    }
    
    .give-home p{
        padding-top: 50px;
        width: 80%;
        margin: 0 auto;
    }
    .blue-icons{
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
        margin-top: 80px;
    
    }
    .blue-icon{
        width: 95%;
        margin-top: 30px;
    }
    .the-experts h1{
        width: 95%;
        margin: auto;
    }
    .the-experts p{
        width: 95%;
        margin: auto;
        margin-top: 30px;
    }
    .the-experts .wariant{
        margin-top: 80px;
        flex-wrap: wrap;
    }
    .the-experts .wariant .var-item{
       margin-top: 30px;
    }
    .foot-product ul{
        margin-left: 35%;
    }
    .copy-date{
        flex-wrap: wrap;
    }
    .cop-item p{
        margin-left: 40%;
    }
    .foot-item{
        width: 90%;
        margin: 0 auto;
      }


  

}

@media (max-width: 610px){

    header .fa-bars{
        display: block;
        margin-right: 10px;
    }

    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 250px;
    }
    main h1{
        text-align: center;
        padding-top: 50px;
        font-size: 40px;
        color: #fff;
        line-height: 100px;
    }
    main a{
        margin-left: 18%;
        line-height: 80px;
        padding: 15px 30px;
    }
    footer{
        height: 40px;
    }
    .more{
        padding-top: 40px;
    }
    .more h1{
        padding-top: 40px;
        width: 95%;
        margin: 0 auto;
        line-height: 40px;
        font-size: 30px;
    }
    .more  p{
        width: 95%;
    }
    .more .find{
        margin-top: 50px;
    }
    .texno-item{
        padding-left: 30px;
    }
    .btn{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.bt{
    padding: 15px 100px;
    color:white;
    margin-left: 10px;
    margin-top: 30px;
}
.journal{
    width: 100%;
    height: 380px;
}
.journal h1{
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 30px;
}
.unlock-text p{
    width: 90%;
}
.unlock-item{
    flex-direction: column;
    padding-top: 50px;
  }
  .unlock-item .un-item{
   padding-top: 30px;
}
.cover h1{
    font-size: 40px;
    line-height: 50px;
    padding-top: 60px;

}
.cover p{
    width: 90%;
    margin: 0 auto;
    padding-top: 34px;
}
.cover button{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 23px;
}
.cover img{
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    margin-bottom: 60px;
}
.btn-none{
    flex-direction: column;  
}
.btn-none button{
    margin-top: 20px;
    width: 80%;
}
.btn-none h3{
    margin-top: 20px;
}
.next a{
    width: 80%;
    text-align: center;
}
.stting-right{
    width: 100%;
    margin-left: 20px;
}
.stting-right ul {
    margin-right: 0;
    flex-wrap: wrap;
}
.stting-right .btn-shop{
    margin-left: 25%;
}
.stay h1{
    width: 95%;
    margin: auto;
    padding-top: 130px;
    font-size: 30px;
    line-height: 44px;
}
.stay .btn-good{
    margin-left: 10%;
    transform: translateX(-10%);
    width: 60%;
    height: 60px;
    text-align: center;
}
.foot-product ul{
    margin-left: 5%;
}
.copy-date{
    flex-wrap: wrap;
}
.cop-item p{
    margin-left: 10%;
}
.foot-item{
    width: 90%;
    margin: 0 auto;
  }

}




@media (max-width: 400px){
    header .amazon{
        padding-left: 10px;
    }
    header nav ul li{
        margin-left: 20px;
        margin-top: 20px;
        
    }
    header nav ul{
        display:block;
        margin-top: -43px;
        position: absolute;
        top: 123px;
        right: 0;
        padding: 20px;
        text-align: center;
        background-color:rgba(0, 139, 139, 0.712);
        width: 100%;
        flex-direction: column;
        transform: translateX(-100%);
        transition: 0.7s ease;
    }
    header .but{
        text-decoration: none;
        background-color: #2468FF;
        padding: 32px 30px;
        border:none;
        margin-top: -0px;
    }
    header i{
        display: block;
        position: absolute;
        right: 120px;
    }
    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 150px;
    }
    main h1{
        text-align: center;
        padding-top: 100px;
        font-size: 20px;
        color: #fff;
        line-height: 20px;
    }
    main a{
        margin-left: 18%;
        line-height: 40px;
        padding: 8px 15px;
    }
    footer{
        height: 30px;
    }
    .more{
        padding-top: 30px;
    }
    .more h1{
        padding-top: 40px;
        width: 95%;
        margin: 0 auto;
        line-height: 40px;
        font-size: 30px;
    }
    .more  p{
        width: 95%;
    }
    .more .find{
        margin-top: 30px;
    }
    .more{
        padding-top: 30px;
    }
    .texno-item{
        padding-left: 15px;
    }
    .journal{
        width: 100%;
        height: 420px;
    }
    .journal h1{
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
        font-size: 30px;
    }
    .journal h2{
        padding-top: 30px;
        font-size:30px;
        
    }
    .unlock-text p{
        width: 97%;
    }
    .give-home h1{
        padding-top: 30px;
        width: 97%;
        margin: 0 auto;
        font-size: 30px;
        line-height: 40px;
    }
    .stting-left img{
        margin-left: 1%;
        margin-bottom: 30px;
    }
    .stting-right h2{
        width: 90%;
        margin-left: 10px;
        font-size: 26px;
        line-height: 46px;   
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .stting-right .btn-shop{
        padding: 10px 50px;
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
        color:white;
        font-size: 13px;
        line-height: 14px;
    }
    .stay .btn-good{
        margin-left: 20%;
        transform: translateX(-20%);
        width: 80%;
        height: 60px;
        text-align: center;
    }
    .foot-product ul:first-child{
        margin-left: 50px;
    }
    .foot-product ul{
        margin-left: 50px;
        margin-top: 15px;
    }
    .copy-date{
        flex-direction: column;
    }
    .cop-item p{
        margin-left: 10%;
    }
    .foot-item{
        width: 98%;
        margin: 0 auto;
      }
      .foot-conect h1{
          width: 100%;
          margin-left: -15px;
      }
      .foot-conect p{
          margin-left: 10px;
          margin-top: 20px;
      }
      .foot-conect .inp input{
        background-color: #161F49;
        border:none;
        border-bottom:1px solid #fff;
        width: 80%;
        margin-right: 20px;
        margin-top: 20px;
    }
    .foot-item h1{
        padding-top: 32px;
        padding-left: 42px;
    }
 
}