@media (max-width: 1550px){
    header .amazon{
        padding-left: 50px;
    }
    header nav ul{
        margin-left: -50px;
    }
    header nav ul li{
        margin-left: 50px;
    }
    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 700px;
    }
    .wifi{
        position: absolute;
        top: 50px;
        }
        main h1{
            text-align: center;
            padding-top: 100px;
            line-height: 150px;
        }
        .texnology{
            min-height: 100vh;
        }
        .texno{
            width: 80%;
            margin: 0 auto;
            padding-top: 590px;
        }
        .btn{
            width: 80%;
            margin: 0 auto;
        }
   
}


@media (max-width: 1410px){
 
   
}

@media (max-width: 1100px){
    header .amazon{
        padding-left: 20px;
    }
    header nav ul{
        margin-left: -20px;
    }
    header nav ul li{
        margin-left: 20px;
    }
    main img{

        width: 100%;
        margin: 0 auto;

    }
    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 500px;
    }
    .wifi{
        position: absolute;
        top: 50px;
        }
        main h1{
            text-align: center;
            padding-top: 50px;
            line-height: 150px;
        }
        footer{
            height: 70px;
        }
        .more{
            padding-top: 80px;
        }
        .more h1{
            padding-top: 60px;
            width: 80%;
            margin: 0 auto;
            line-height: 60px;
            font-size: 50px;
        }
        .more  p{
            width: 85%;
        }
        .texnology{
            min-height: 110vh;
        }

        .texno{
            width: 90%;
            margin: 0 auto;
            padding-top: 570px;
        }
        .btn{
            width: 90%;
            margin: 0 auto;
        }
        .journal{
            width: 100%;
            height: 430px;
        }
        .journal h1{
            width: 80%;
            margin: 0 auto;
            padding-top: 100px;
            font-size: 40px;
        }
 
}

@media (max-width: 910px){ 

    header .amazon{
        padding-left: 40px;
    }
    header nav ul{
        display:none;
        position: absolute;
        top: 120px;
        right: 0;
        padding: 20px;
        text-align: center;
        background-color:darkcyan;
        width: 50%;
        flex-direction: column;
    }
    header nav ul li{
        margin-left: 20px;
        margin-top: 20px;
        
    }
    header i{
        display: block;
        position: absolute;
        right: 180px;
    }
    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 400px;
    }
    footer{
        height: 70px;
    }
    .more h1{
        padding-top: 60px;
        width: 80%;
        margin: 0 auto;
        line-height: 60px;
        font-size: 50px;
    }
    .more  p{
        width: 80%;
    }
    .more{
        padding-top: 50px;
    }
    .texno{
        width: 98%;
        margin: 0 auto;
        padding-top: 570px;
    }
    .btn{
        width: 98%;
        margin: 0 auto;
    }
    .bt2{
        margin-left: 18%;
    }


    }




@media (max-width: 780px){

    header .amazon{
        padding-left: 40px;
    }
    header nav ul{
        display:none;
        position: absolute;
        top: 120px;
        right: 0;
        padding: 20px;
        text-align: center;
        background-color:darkcyan;
        width: 50%;
        flex-direction: column;
    }
    header nav ul li{
        margin-left: 20px;
        margin-top: 20px;
        
    }
    header i{
        display: block;
        position: absolute;
        right: 180px;
    }
    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 400px;
    }
    footer{
        height: 60px;
    }
    .more{
        padding-top: 50px;
    }
    .more h1{
        padding-top: 60px;
        width: 90%;
        margin: 0 auto;
        line-height: 50px;
        font-size: 40px;
    }
    .more  p{
        width: 90%;
    }
    .more .find{
        margin-top: 50px;
    }
    .texnology{
        min-height: 125vh;
        background-image: url(./image-style/Rectangle\ \(3\).png);
        background-repeat: no-repeat;
        background-position:left;
        width:100%;
        margin: 0 auto;
    }
    .texno{
        width: 98%;
        margin: 0 auto;
        padding-top: 350px;
        flex-direction: column;
    }
    .texno-item{
        padding-left: 50px;
    }
    .tex-item{
        padding-top: 30px;
    }
    .btn{
        width: 98%;
        margin: 0 auto;
    
    }
    .bt2{
        margin-left: 18%;
    }
    .unlock-item{
        padding-top: 100px;
      }
      .unlock-text button{
       margin-top: 60px;
    }
    .carusel-kub{
        padding: 60px 0 20px 0;
    }
    .unlock{
        width: 100%;
        min-height: 80vh;
        background-image:url(./image-style/Rectangle@2x.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: bottom;
    }
    .give-home h1{
        padding-top: 60px;
        width: 90%;
        margin: 0 auto;
    }
    
    .give-home p{
        padding-top: 50px;
        width: 80%;
        margin: 0 auto;
    }
    
    .give-home img{
       margin-top: 70px;
       padding-bottom: 20px;
       width: 70%;
       margin-left: 15%;
    }
}

@media (max-width: 610px){
    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 250px;
    }
    main h1{
        text-align: center;
        padding-top: 50px;
        font-size: 40px;
        color: #fff;
        line-height: 100px;
    }
    main a{
        margin-left: 18%;
        line-height: 80px;
        padding: 15px 30px;
    }
    footer{
        height: 40px;
    }
    .more{
        padding-top: 40px;
    }
    .more h1{
        padding-top: 40px;
        width: 95%;
        margin: 0 auto;
        line-height: 40px;
        font-size: 30px;
    }
    .more  p{
        width: 95%;
    }
    .more .find{
        margin-top: 50px;
    }
    .texno-item{
        padding-left: 30px;
    }
    .btn{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.bt{
    padding: 15px 100px;
    color:white;
    margin-left: 10px;
    margin-top: 30px;
}
.journal{
    width: 100%;
    height: 380px;
}
.journal h1{
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 30px;
}
.unlock-text p{
    width: 90%;
}
.unlock-item{
    flex-direction: column;
    padding-top: 50px;
  }
  .unlock-item .un-item{
   padding-top: 30px;
}




}




@media (max-width: 400px){
    header .amazon{
        padding-left: 10px;
    }
    header nav ul li{
        margin-left: 20px;
        margin-top: 20px;
        
    }
    header nav ul{
        display:none;
        position: absolute;
        top: 125px;
        right: 0;
        padding: 20px;
        text-align: center;
        background-color:darkcyan;
        width: 60%;
        flex-direction: column;
    }
    header .but{
        text-decoration: none;
        background-color: #2468FF;
        padding: 32px 30px;
        border:none;
        margin-top: -0px;
    }
    header i{
        display: block;
        position: absolute;
        right: 120px;
    }
    main img{
        background-image:url(./image-style/home.png);
        width: 100%;
        margin: 0 auto;
        height: 150px;
    }
    main h1{
        text-align: center;
        padding-top: 100px;
        font-size: 20px;
        color: #fff;
        line-height: 20px;
    }
    main a{
        margin-left: 18%;
        line-height: 40px;
        padding: 8px 15px;
    }
    footer{
        height: 30px;
    }
    .more{
        padding-top: 30px;
    }
    .more h1{
        padding-top: 40px;
        width: 95%;
        margin: 0 auto;
        line-height: 40px;
        font-size: 30px;
    }
    .more  p{
        width: 95%;
    }
    .more .find{
        margin-top: 30px;
    }
    .more{
        padding-top: 30px;
    }
    .texno-item{
        padding-left: 15px;
    }
    .journal{
        width: 100%;
        height: 420px;
    }
    .journal h1{
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
        font-size: 30px;
    }
    .journal h2{
        padding-top: 30px;
        font-size:30px;
        
    }
    .unlock-text p{
        width: 97%;
    }
    .give-home h1{
        padding-top: 30px;
        width: 97%;
        margin: 0 auto;
        font-size: 30px;
        line-height: 40px;
    }
  
 
}