*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.hed{
    width: 100%;
}
.dey{
    background: #161F49;
    color:#fff;
    text-align: center;
    padding: 10px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .amazon{
    padding-left: 100px;
}
header .amazon h1{
    letter-spacing: 3px;
}
header .amazon img{
    width: 50px;
    margin-bottom: -5px;
    padding: 0 2px;
    
}
header .amazon p{
    font-size:12px;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -120px;
    list-style:none;
}
header nav ul li{
    margin-left: 120px;
}
header nav a{
   color: #404040;
   text-decoration: none;
}
header .but{
    text-decoration: none;
    background-color: #2468FF;
    padding: 32px 60px;
    border:none;
    margin-top: -0px;
}
header .but a{
    text-decoration: none;
    color: #fff;
}
header i{
    display: none;
}
main{
      display: flex;
    align-items: center;
    justify-content: center;
}
main img{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 800px;
}
.wifi{
position: absolute;
top: 150px;
}
main h1{
    text-align: center;
    padding-top: 150px;
    font-size: 80px;
    color: #fff;
    line-height: 150px;
}
main p{
    font-size: 21px;
    color: #fff;
    text-align: center;
}
main a{
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    margin-left: 27%;
    line-height: 120px;
    padding: 20px 60px;
}


footer{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 120px;
}
footer img{
    width: 45%;
    position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 28%;
 margin-top: -15%;

}
/* section 2 */

#container{
    width: 100%;
}
.more{
    text-align: center;
    padding-top: 120px;
    position:relative;
}
.more p{
    padding-top: 160px;
}
.more .amaz-img{
    margin-top: 25px;
    width: 100px;
    margin-bottom: 30px;
}
.more .but a{
    color:#111;
    text-decoration: none;
    border-bottom:1px solid;

}
.more h1{
    padding-top: 120px;
    width: 50%;
    margin: 0 auto;
    line-height: 60px;
    font-size: 50px;
}
.more  p{
    width: 40%;
    margin: 0 auto;
    padding-top: 40px;
    line-height: 25px;
}
.more .find{
    display: flex;
    justify-content: center;
   margin: 0 auto;
    background-color: #2468FF;
    padding: 22px 10px;
    border:none;
    width: 250px;
    /* margin-left: 43%;  */
    margin-top: 80px;

}
.more .find a{
    display: block;
    color:white;
    text-decoration: none;
}
.more img{
    margin-top: 60px;
    width: 70%;
    margin: 0 auto;
}

/* section texnology */

.texnology{
    background-image: url(./image-style/Rectangle\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    min-height: 120vh;
}
.texno{
    padding-top: 710px;
    display:flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.texno-item{
    padding-left: 100px;
}
.tex-item .texno-item button{
  padding: 2px 12px;
  border-radius:20px;
  color:#000;
  font-weight:600;
}

.tex-item .texno-item h2{
    padding-top: 25px;
    font-weight: 600;
    color:white;
    line-height:48px;
    font-size: 42px;
}
.tex-item .texno-item h3{
    width: 100%;
    padding-top: 25px;
    font-weight: 600;
    color:white;
    line-height:48px;
    font-size: 42px;
}

.tex-item .texno-item p{
    color:#fff;
    font-size: 18px;
    padding-top: 25px;
    line-height: 25px;

}
.tex-item .texno-item h4{
    color:white;
    padding-top: 25px;
    line-height: 25px;

}
.btn{
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.bt{
    background-color:#2468FF;
    padding: 15px 40px;
    color:white;
    margin-left: 100px;
    margin-top: 30px;
}
.bt2{
    margin-left: 28%;
}
.comp{
    color:white;
    font-weight: 600;
    text-align: center;
    padding: 50px;
}
.comp button{
    width:180px;
    height:3px;
    background-color:white;
    border:none;
}

/*  JOURNAL */

.journal{
    width: 100%;
    height: 530px;
    background-color:#404040;
    color:#fff;
    text-align:center;
}
.journal h1{
    width: 50%;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 40px;
    line-height: 48px;
}
.journal h2{
    padding-top: 50px;
    font-size:40px;

}

/* section unlock */

.unlock{
    width: 100%;
    min-height: 110vh;
    background-image:url(./image-style/Rectangle@2x.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
}
.unlock-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}
.unlock-item .un-item{
    padding-left: 30px;
    padding-right: 30px;
}
.unlock-text h1{
    color:white;
    padding-top: 100px;
    font-size: 50px;
    line-height: 60px;
    text-align:center;
}
.unlock-text p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color:white;
    padding-top: 44px;
    font-size: 18px;
    line-height: 25px;
}
.unlock-text button{
    background: #2468FF;
    padding: 15px 40px;
    color:white;
    margin-top: 140px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.carusel-kub{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 0 20px 0;

}
.carusel-btn{
    width: 8px;
    height: 8px;
    background-color:white;
    margin-left: 10px;
    margin-right: 10px;
}

/* section  */

.give-home{
    width: 100%;
}
.give-home h1{
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    width: 50%;
    margin: 0 auto;
    color: #404040;
}

.give-home p{
    padding-top: 50px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: #404040;
}

.give-home img{
   margin-top: 70px;
   padding-bottom: 20px;
   width: 60%;
   margin-left: 20%;
}