*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    scroll-behavior: smooth;
}
.hed{
    width: 100%;
    transition: all 1.6s ease;
}
.dey{
    background: #161F49;
    color:#fff;
    text-align: center;
    padding: 10px;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    transition: .7s ease;
}
header .amazon{
    padding-left: 100px;
}
header .amazon h1{
    letter-spacing: 3px;
}
header .amazon img{
    width: 50px;
    margin-bottom: -5px;
    padding: 0 2px;
    
}
header .amazon p{
    font-size:12px;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -120px;
    list-style:none;
}
header nav ul li{
    margin-left: 120px;
}
header nav a{
   color: #404040;
   text-decoration: none;
}
header .but{
    text-decoration: none;
    background-color: #2468FF;
    padding: 32px 60px;
    border:none;
    margin-top: -0px;
}
header .but a{
    text-decoration: none;
    color: #fff;
}
header .fa-bars{
    display: none;
}

.active{
    display: block;
}

.no-active{
    display:none;
}
.sticy{
  background-color:rgba(0, 139, 139, 0.561);
  padding:0px;
  margin-top: -40px;
  color:white;
}
.sticy a{
    color:white;
}
main{
      display: flex;
    align-items: center;
    justify-content: center;
}
main img{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 800px;
}
.wifi{
position: absolute;
top: 150px;
}
main h1{
    text-align: center;
    padding-top: 150px;
    font-size: 80px;
    color: #fff;
    line-height: 150px;
}
main p{
    font-size: 21px;
    color: #fff;
    text-align: center;
}
main a{
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    margin-left: 27%;
    line-height: 120px;
    padding: 20px 60px;
}


footer{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 120px;
}
footer img{
    width: 45%;
    position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 28%;
 margin-top: -15%;

}
/* section 2 */

#container{
    width: 100%;
}
.more{
    text-align: center;
    padding-top: 120px;
    position:relative;
}
.more p{
    padding-top: 160px;
}
.more .amaz-img{
    margin-top: 25px;
    width: 100px;
    margin-bottom: 30px;
}
.more .but a{
    color:#111;
    text-decoration: none;
    border-bottom:1px solid;

}
.more h1{
    padding-top: 120px;
    width: 50%;
    margin: 0 auto;
    line-height: 60px;
    font-size: 50px;
}
.more  p{
    width: 40%;
    margin: 0 auto;
    padding-top: 40px;
    line-height: 25px;
}
.more .find{
    display: flex;
    justify-content: center;
   margin: 0 auto;
    background-color: #2468FF;
    padding: 22px 10px;
    border:none;
    width: 250px;
    /* margin-left: 43%;  */
    margin-top: 80px;

}
.more .find a{
    display: block;
    color:white;
    text-decoration: none;
}
.more img{
    margin-top: 60px;
    width: 70%;
    margin: 0 auto;
}

/* section texnology */

.texnology{
    background-image: url(./image-style/Rectangle\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    min-height: 120vh;
}
.texno{
    padding-top: 710px;
    display:flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.texno-item{
    padding-left: 100px;
}
.tex-item .texno-item button{
  padding: 2px 12px;
  border-radius:20px;
  color:#000;
  font-weight:600;
}

.tex-item .texno-item h2{
    padding-top: 25px;
    font-weight: 600;
    color:white;
    line-height:48px;
    font-size: 42px;
}
.tex-item .texno-item h3{
    width: 100%;
    padding-top: 25px;
    font-weight: 600;
    color:white;
    line-height:48px;
    font-size: 42px;
}

.tex-item .texno-item p{
    color:#fff;
    font-size: 18px;
    padding-top: 25px;
    line-height: 25px;

}
.tex-item .texno-item h4{
    color:white;
    padding-top: 25px;
    line-height: 25px;

}
.btn{
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.bt{
    background-color:#2468FF;
    padding: 15px 40px;
    color:white;
    margin-left: 100px;
    margin-top: 30px;
}
.bt2{
    margin-left: 28%;
}
.comp{
    color:white;
    font-weight: 600;
    text-align: center;
    padding: 50px;
}
.comp button{
    width:180px;
    height:3px;
    background-color:white;
    border:none;
}

/*  JOURNAL */

.journal{
    width: 100%;
    height: 530px;
    background-color:#404040;
    color:#fff;
    text-align:center;
}
.journal h1{
    width: 50%;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 40px;
    line-height: 48px;
}
.journal h2{
    padding-top: 50px;
    font-size:40px;

}

/* section unlock */

.unlock{
    width: 100%;
    min-height: 110vh;
    background-image:url(./image-style/Rectangle@2x.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
}
.unlock-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    transform: translateY(0);
    transition: 2s ease-in-out;
}
.unlock-item .un-item{
    padding-left: 30px;
    padding-right: 30px;

}
.unlock-item .un-item img:hover  {
    transform: translateY(-15px);
}
.unlock-text h1{
    color:white;
    padding-top: 100px;
    font-size: 50px;
    line-height: 60px;
    text-align:center;
}
.unlock-text p{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color:white;
    padding-top: 44px;
    font-size: 18px;
    line-height: 25px;
}
.unlock-text button{
    background: #2468FF;
    padding: 15px 40px;
    color:white;
    margin-top: 140px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.carusel-kub{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 0 20px 0;

}
.carusel-btn{
    width: 8px;
    height: 8px;
    background-color:white;
    margin-left: 10px;
    margin-right: 10px;
}

/* section  */

.give-home{
    width: 100%;
}
.give-home h1{
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    width: 50%;
    margin: 0 auto;
    color: #404040;
}

.give-home p{
    padding-top: 50px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: #404040;
}

.give-home img{
   margin-top: 70px;
   padding-bottom: 20px;
   width: 60%;
   margin-left: 20%;
}

/* section cover */

.cover{
    width: 100%;
    background: #161F49;
}

.cover h1{
    font-size: 50px;
    line-height: 60px;
    color: #FFF;
    padding-top: 117px;
    text-align: center;
}
.cover p{
    color:white;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 44px;
}
.cover button{

    background: #2468FF;
    color: #fff;
    padding:10px 25px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 33px;
}
.cover img{
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    margin-bottom: 120px;
}

/* section never */


.never{
    width: 100%;
}
.never h1{
    font-size: 50px;
    line-height: 60px;
    color: #404040;
    text-align: center;
    padding-top: 110px;
}
.blue-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;

}
.blue-icon{
    width: 20%;
}
.blue-icon h3{
    font-size: 21px;
    line-height: 24px;
    color: #404040;
}
.blue-icon img{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}


.blue-icon p{
    font-size: 18px;
    line-height: 25px;
    color: #404040;
    margin-bottom: 20px;
    margin-top: 17px;
}

.blue-icon span{
    font-size: 14px;
    line-height: 16px;
    color: #404040;
    width: 20%;

}
.blue-icon h3 button{
    width: 180px;
    height: 1px;
    color:#000000;
   
    margin-bottom: 20px;
}

.find-item{
    width:100%;
    background: #F7F7F7;
    min-height: 80vh;
}
.find-item h1{
    padding-top: 70px;
    text-align: center;
    font-size: 50px;
    line-height: 60px;  
}
.spn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.spn span{
    background-color: #999999;
    padding: 1px 5px;
    font-size: 14px;
    line-height: 23px;
    color:#fff;
    margin-left: 20px;
}
.spn span:nth-child(1){
    background-color:rgb(49, 146, 49);
      
}

.spn button{
    width: 30px;
    height: 2px;
    background:#999999;
    margin-top: 10px;
    margin-left: 10px;
    outline: none;
}
.find-item img{
    margin-top: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.btn-none{
    display: flex;
    margin-top: 60px;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
}

.btn-none button{
    padding: 10px 18px;
    background:none;
    margin-left: 14px;
    margin-right: 14px;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: rgba(64, 64, 64, 0.3);
    border: 1px solid rgba(64, 64, 64, 0.3);
}
.btn-none h3{
    color: #404040;
} 

.next{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.next a{
    background-color:#999;
    padding: 15px 70px;
    text-decoration: none;
    color: #fff;
}

.scr{
    width: 100%;
    position: fixed; 
    left: 0;
    z-index: 999;
    top: 800px;
    display: none;
}
.sticys{
    display: block;
}
.scr a{
    padding: 10px 15px;
    background-color:rgba(220, 20, 60, 0.753);
    position: absolute;
    right: 0px;
    color:#fff;
    border-radius:10px;
}
.fa-angle-up{
    font-size: 25px;
}

  /* section turns of  */

.turns_out{
    width: 100%;
}
.turns_out h1{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    line-height: 60px;
    color: #404040;  
}
.stting-up{
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.stting-left{
    width: 100%;
}
.stting-left img{
    width: 100%;
    
}
.stting-right{
    width: 100%;
    margin-left: 140px;
    margin-top: 200px;
}
.stting-right ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 100px;
    margin-top: -200px;
}
.stting-right ul li button{
    height: 2px;
    width: 70px;
    outline: none;
    background: #DEDEDE;
    border:none
}

.stting-right ul li{
    font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #999999;
margin-left: 30px;
}
.stting-right ul li:nth-child(1){
    color: #2468FF;
}
.stting-right ul li button:nth-child(1){
    background: #2468FF;
}
.stting-right h2{
    width: 60%;
    margin-left: 30px;
    font-size: 36px;
    line-height: 52px;   
    color: #404040;
    margin-bottom: 20px;
    margin-top: 30px;
}
.stting-right span{
    color: #646565;
    margin-left:30px;
}
.stting-right p{
    font-size: 18px;
    line-height: 25px;
    color: #646565;
    margin-left: 30px;
    margin-top: 20px;
    width: 35%;
}
.stting-right .btn-shop{
    background: #2468FF;
    padding: 15px 50px;
    margin-left: 30px;
    margin-top: 20px;
    color:white;
    font-size: 13px;
    line-height: 14px;
}

.the-experts{
     margin-top: 120px;
}
.the-experts p{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #404040;
    margin-top: 30px;
}
.the-experts .btn-experts{
    background: #2468FF;
    color: #fff;
    padding: 15px 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}
.the-experts .wariant{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.the-experts .wariant .var-item{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items:center;
}
.wariant .var-item span{
    padding-left: 10px;
}


/* section stay */

.stay{
    width: 100%;
    margin-top: 80px;
    background: url(./image-style/Rectangle\ \(11\).png);
    background-size: cover;
    height:605px;
}
.stay h1{
    text-align: center;
    padding-top: 180px;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    width: 40%;
    margin: auto;

}
.stay .btn-good{
    background:#2468FF;
    color:#fff;
    /* padding: 20px 50px; */
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.11px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 280px;
    height: 60px;
    text-align: center;
}

/* section foot */

#footer{
    background-color: #161F49;
    width: 100%;
}
.foot-item{
  width: 70%;
  margin: 0 auto;
}
.foot-item h1{
    padding-top: 88px;
}
.foot-product {
    display: flex;
    align-items: center;
    justify-content: left;
    
}
.foot-product ul{
    margin-left: 120px;
    margin-top: 50px;
    list-style: none;
    color: #fff;
}
.foot-product ul:first-child{
    margin-left: 0;
}
.foot-product ul li{
    line-height: 30px;
    display: block;
    width: 160px;
}
.foot-conect{
    margin-left: 13%;
}
.foot-conect h1{
    color: #fff;
    margin-top: -50px;
    font-size: 36px;
    line-height: 48px;
}

.foot-conect p{
    color: #ffff;
    font-size: 18px;
    line-height: 25px;
}

.foot-conect .inp{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
}
.foot-conect .inp input{
    background-color: #161F49;
    border:none;
    border-bottom:1px solid #fff;
    padding: 15px 100px 15px 0;
    margin-right: 20px;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
}
.foot-conect .inp input::placeholder{
    color: #989898;
    padding-left: 0;
}
.foot-conect .inp input:last-child{
    border:1px solid #fff;
    padding: 15px 70px 15px 0;
    text-align: center;
    color: #fff;
    padding-left: 70px;
}

.copy-date{
    margin-top: 60px;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}
.cop-item{
    padding-left: 27%;
}
.cop-item:first-child{
    padding-left: 0;
}
.cop-item i {
    margin-right: 30px;
    font-size: 30px;
    color: #fff;
    cursor:pointer;
}
.cop-item p{
    color: #fff;
    line-height: 30px;
}

/* animatsiya */

